@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 65px;
    display: flex;
    justify-content: center;
    background-color: #21a3e1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
    flex-wrap: wrap;
}

.logo a {
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-family: Arial, sans-serif;
}


.menu {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: end;
    position: relative;
    font-family: Arial, sans-serif;
}

nav {
    position: absolute;
    width: 100%;
    top: 49px;
    display: none;
}

nav ul {
    padding: 0;
    cursor: pointer;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 7px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li:hover {
    background-color: #21a3e1;

}

.title_menu {
    color: #fff;
    margin-right: 5px;
}

.hamList {
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
}

section#banner {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: bottom;

}

.desfoque-banner {
    background: rgba(88, 88, 88, 0.35);
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
}

.title-banner {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.title-banner-h1 {
    font-size: 4em;
    margin-bottom: 10px;
}

.title-banner-h2 {
    font-size: 1.3em;
}

.title-banner-h1,
.title-banner-h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #b3b3b3;
    font-family: 'Quicksand', sans-serif;
    margin: 15px 0px;
}

.title-banner-button a {
    display: inline-block;
    border: 1px solid #fff;
    background: rgba(88, 88, 88, 0.35);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    margin: 15px 0px;
    transition: ease .3s;
}

.title-banner-button a:hover {
    background: rgba(179, 179, 179, 0.35);
    opacity: .7;
}

.img-principal {
    background-image: url('../images/nike-blue.png');
    background-size: cover;
    height: 100%;
    width: 40%;
    background-position: center;
}

section#sobre-nos {
    display: flex;
    justify-content: center;
}

.cont-vision {
    height: auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cont-img-vision {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-vision {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}

.img-vision img {
    width: 100%;
}

.cont-description-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-description-vision,
.text-description-vision {
    font-family: Arial, sans-serif;
    padding: 10px;
}

.title-description-vision {
    font-weight: bold;
    color: #000;
}

.text-description-vision {
    color: rgb(82, 82, 82);
    text-align: center;
    line-height: 24px;
}

section#sale {
    display: flex;
    justify-content: center;

}

.cont-products-sale {
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(179, 179, 179, 0.35);
    margin: 10px 0px;
}

.selo-vision {
    display: flex;
    justify-content: start;
    align-items: center;
}

.selo-vision .selo {
    width: 60px;
    height: 25px;
    background-color: red;
    border-radius: 20px;
    margin: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.cont-img-sale {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-img-sale img {
    width: 100%;
    padding: 10px;
}

.cont-product-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name-product,
.money-product,
.button-product a {
    font-family: Arial, sans-serif;
}

.name-product {
    font-weight: bold;
    color: #000;
    font-size: 1.1em;
    flex: 1;
}

.money-product {
    color: #b3b3b3;
    font-size: 0.8em;
    margin: 10px 0px;
    flex: 1;
}

.button-product{
    flex: 1;
}

.button-product a {
    display: inline-block;
    background-color: #21a3e1;
    padding: 10px;
    border-radius: 24px;
    color: #fff;
    text-decoration: none;
    font-size: 0.7em;
    margin-bottom: 10px;
}

footer{
    display: flex;
    justify-content: center;
    height: 50px;
    border-top: 1px solid rgba(179, 179, 179, 0.35);
}

.copy{
    flex: 1;
    font-family: Arial, sans-serif;
}

.redes{
    flex: 1;
    display: flex;
    justify-content: end;
    flex-direction: row;
}

.redes a{
    width: 30px;
    margin-left: 7px;

}

.redes a img{
    width: 100%;
}
